{% extends 'base.html' %}

{% block content %}
<div class="form-box">
    <h2 style="text-align: center; margin-bottom: 25px; text-transform: uppercase;">{{ t.login_title }}</h2>
    <form method="POST" action="/admin-login">
        <div class="form-group">
            <label for="password">{{ t.pass_label }}</label>
            <input type="password" name="password" class="form-control" placeholder="..." required>
        </div>
        <button type="submit" class="btn">{{ t.enter_btn }}</button>
    </form>
</div>
{% endblock %}